
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


.sections-wrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;       
}


.section {
    position: relative;   
    border: 1px solid black;
    padding: 50px 20px 20px 20px; 
    background-color: lightgray;
    flex: 0 0 32%; 
    min-width: 250px;  
    background: #999999;   
}


.section-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 1.25em;
    width: 90px;
    display: flex;
    justify-content: center;
}


.title1{
    background-color: #D59898;
} 
.title2{
    background-color:#C14543;
    color: #fff;
} 
.title3{
    background-color:#E5D198 ;
} 

@media (min-width: 768px) and (max-width: 991px) {
    #chicken, #beef {
        flex: 0 0 48%;
    }
    #sushi {
        flex: 0 0 100%; 
    }
}


@media (max-width: 767px) {
    .section {
        flex: 0 0 100%; 
    }
}

